{% extends 'base.html' %}

{% block body %}
<h1 style="font-size: 64px; text-align: center; margin: 5rem 0 2rem 0;">{{book.book_name|lower|title}}</h1>
<h2 style="text-align: right; padding-right: 2rem; margin-top: 2rem;">Yazar: <span style="font-style: italic;">{{book.book_writer|lower|title}}</span></h2>
{% if book.alan_og %}
<h4>{{book.alan_og}}</h4>
<h5>{{book.alis_tar}}</h5>
<form method="POST" action="{% url 'book_teslim' id=book.id %}">
  {% csrf_token %}
  <input type="submit" class="btn btn-success"/>
</form>
{% else %}
<a class="btn btn-primary" style="text-align: cente; font-size: 24px;" href="./emanet/">Emanet Al</a>
{% endif %}
{% endblock body %}